*{
    margin:0px;
    padding:0px;
}
header{
    border:2px solid black;
    background-color:aquamarine;

}

ul {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
#navbar ul li{
    list-style:none;
    font-size:1.5rem;
}
   #navbar ul li a{
    display:block;
    padding:3pxpx 22px;}